// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


.social-media-list {
    display: flex;
    margin: 0 auto;
    li + li { padding-top: 0 }
    li {        
        margin: 10px 5px 0;
        &:last-of-type { margin-right: 0 }
    }    
}